<!-- your html code here -->
<div class="body bg-white">
    <div class="container">
        <h1>Contact</h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. </p>
    </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center mb-2">
    <div class="col-8">
      <div class="form-control bg-light">
        
          <div class="row mb-3 mt-2 d-flex justify-content-end">
            <label for="Email" class="d-flex justify-content-end col-3 col-form-label"><strong>Your E-mail </strong></label>
            <div class="col-9">
              <textarea class="form-control text-secondary" id="exampleFormControlTextfield1" rows="1" placeholder="Your email"></textarea>
            </div>
          </div>

          <div class="row justify-content-end">
            <label for="Message" class="d-flex justify-content-end col-3"><strong>Your message</strong></label>
            <div class="col-9">

              <textarea class="form-control text-secondary" id="exampleFormControlTextarea1 " rows="4" placeholder="Please enter your message here..."></textarea>
              
              <div class="button d-flex justify-content-end mt-3 mb-3">
                <input class="btn btn-primary" type="submit" value="Submit" />
              </div>
            </div>
          </div>

        </div>
    </div>
  </div>
</div>