<!-- your html code here -->
<h1>Portfolio</h1>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo. </p>
<div class="row">

    <div class="col">
        <div class="card" style="">
            <img src="../../website/assets/img/big-project-image.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="">
            <img src="../../website/assets/img/big-project-image.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae</p>
            </div>
        </div>
    </div>

    <div class="col">
        <div class="card" style="">
            <img src="../../website/assets/img/big-project-image.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title text-primary">Project Name</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae</p>
            </div>
        </div>
    </div>


</div>