<div class="heading py-5 d-flex justify-content-center">
  <div class="heading-body d-flex justify-content-center mx-5 px-5">
    <div class="pe-5">
      <img
        class="rounded-circle"
        height="300px"
        src="/website/assets/img/2.jpg"
        alt="walter_white"
      />
    </div>
    <div class="">
      <h1>
        This Second Heading
        <span class="text-secondary">Is Pretty Cool Too</span>
      </h1>
      <div>
        <p class="fs-5">
          Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
          ligula porta felis euismod semper, Praesent commodo cursus magna, vel
          scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
        </p>
      </div>
    </div>
  </div>
</div>
